<div class="container">
    <div class="login-page">



        <mat-card class="mat-elevation-z12">
            <mat-card-title style="text-align:center;">Acceder</mat-card-title>
            <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">


                <mat-tab label="Ingresa tus datos de registro">
                    <mat-card-content>

                        <form action="">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input [(ngModel)]="usuario.name" class="form-control" name="name" id="name" aria-describedby="nameHelp" required>
                            </div>

                            <div class="form-group">
                                <label>Email address</label>
                                <input [(ngModel)]="usuario.email" type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" required>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input [(ngModel)]="usuario.password" type="password" class="form-control" id="password" name="password" required minlength="5">
                            </div>

                            <button type="button" class="btn btn-primary btn-lg btn-block" (click)='registro()'>Registrar</button>

                        </form>



                    </mat-card-content>
                </mat-tab>



            </mat-tab-group>
        </mat-card>
    </div>
</div>