<div class="container animated fadeIn fast">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">{{myResponse.name}}</h1>
        <p class="lead">{{myResponse.description}}</p>
        <a [routerLink]="['/cotizar']" class="btn btn-primary btn-lg">Contratame!</a>
        <a [routerLink]="['/asociados']" class="btn btn-secondary btn-lg">Regresar</a>
    </header>

    <!-- Call to Action Well -->
    <div class="card text-white bg-info my-5 py-4 text-center">
        <div class="card-body">
            <h2>¡Mira como me han calificado!</h2>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-3 ">
            <div class="card h-100">
                <div class="card-header text-center">
                    <h2 class="card-title">Calidad</h2>
                </div>
                <div class="card-body text-center">

                    <svg width="10em" height="10em" viewBox="0 0 16 16" class="bi bi-emoji-laughing" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path fill-rule="evenodd" d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5z"/>
                      <path d="M7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"/>
                    </svg>
                </div>

            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card h-100">
                <div class="card-header text-center">
                    <h2 class="card-title">Entregas</h2>
                </div>
                <div class="card-body text-center">

                    <svg width="10em" height="10em" viewBox="0 0 16 16" class="bi bi-emoji-laughing" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill-rule="evenodd" d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5z"/>
                    <path d="M7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"/>
                  </svg>
                </div>

            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card h-100">
                <div class="card-header text-center">
                    <h2 class="card-title">Amable</h2>
                </div>
                <div class="card-body text-center">

                    <svg width="10em" height="10em" viewBox="0 0 16 16" class="bi bi-emoji-laughing" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path fill-rule="evenodd" d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5z"/>
                  <path d="M7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"/>
                </svg>
                </div>

            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card h-100">
                <div class="card-header text-center">
                    <h2 class="card-title">Costo</h2>
                </div>
                <div class="card-body text-center">

                    <svg width="10em" height="10em" viewBox="0 0 16 16" class="bi bi-emoji-neutral" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill-rule="evenodd" d="M4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
                    <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                  </svg>
                </div>

            </div>
        </div>




    </div>
    <!-- /.row -->
    <hr>

    <div class="row animated fadeIn ">
        <div class="col-md-4">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="http://wisecode.com.mx/FiservChallenge/assets/asociados/{{myResponse.image}}" alt="">
            </a>
        </div>
        <div class="col-md-8">
            <h3>{{myResponse.name}}</h3>
            <p>{{myResponse.description}} </p>
            <a [routerLink]="['/cotizar']" class="btn btn-primary btn-lg">Contratar!</a>

        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!--Google map-->
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30099.980277776758!2d-99.20016284825583!3d19.434104316327506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d202036d4843f9%3A0xe4d37732c0d3a976!2sPolanco%2C%20Polanco%20I%20Secc%2C%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses!2smx!4v1603661860869!5m2!1ses!2smx&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <!--Google Maps-->

    <br/>

</div>