<div class="container">

    <!-- Page Heading -->

    <div class="row superior">



        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header text-white bg_bule" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn  btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   Opción 1 .- Describe tu problema:
                  </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">


                        <h2>¿Qué servicio necesitas? Trata de ser específico:</h2>
                        <br/>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <br/>
                        <button type="submit" class="btn bg_bule" [routerLink]="['/pagoCliente']">Cotizar</button>


                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-white bg-dark" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Opción 2 .- Contacta directamente a nuestro socio:
                  </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <h2>Ponte en contacto directamente con él y recibe su cotización según lo acuerden:</h2>
                        <br/>

                        <button type="submit" class="btn btn-dark" [routerLink]="['/pagoCliente']">5565215555</button></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-white bg-info" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    ¿Tienes algún problema?
                  </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <h2>Si no se ha solucionado tu problema no dudes en ponerte en contacto:</h2>
                        <br/>
                        <p class="text-muted">En nuestra línea de atención a usuarios podemos apoyarte a aclarar todas tus dudas, solo tienes que llamar al 5555555555 o también puedes mandarnos un email a atenciónalcliente@baan.com.mx Estamos para servirte en el momento que
                            lo necesites, gracias por dejarnos saber todas tus inquietudes.</p>
                    </div>
                </div>
            </div>






        </div>
    </div>