<div class="container">

    <!-- Page Heading -->



    <div class="row superior">



        <div class="card border-dark mb-3">

            <div class="card-header text-white bg-dark"><b> <h2>Detalles del Pago</h2></b></div>
            <div class="card-body text-dark">
                <img src="http://wisecode.com.mx/FiservChallenge/assets/front-tc.jpg" class="img-fluid" alt="Responsive image">

                <img src="http://wisecode.com.mx/FiservChallenge/assets/back-tc.jpg" class="img-fluid" alt="Responsive image">
                <br/>
                <br/>
                <h5 class="card-title">Pago de servicios</h5>
                <p class="card-text">Para proceder es necesario que nos compartas tu información de pago ya sea tarjeta de crédito o débito.</p>
                <br/>


                <div class="form-group">
                    <h2 class="card-title text-info">Monto a pagar: $1500.00</h2>
                </div>

                <div class="form-group">
                    <h5 class="card-title">Número de la tarjeta</h5>
                    <input [(ngModel)]="numero_tarjeta" class="form-control" placeholder="**** **** **** 5555" maxlength="16" minlength="16" required>
                </div>
                <div class="form-group">
                    <h5 class="card-title">Nombre del titular</h5>
                    <input [(ngModel)]="titular" class="form-control" id="2" placeholder="Juan Pe" required>
                </div>
                <div class="form-group">
                    <h5 class="card-title">Mes de expiración</h5>
                    <input [(ngModel)]="mes" class="form-control" id="3" placeholder="MM" required maxlength="2">
                </div>
                <div class="form-group">
                    <h5 class="card-title">Año de expiración</h5>
                    <input [(ngModel)]="ano" class="form-control" id="3.5" placeholder="YY" required maxlength="2">
                </div>
                <div class="form-group">
                    <h5 class="card-title">Numero CVV</h5>
                    <input [(ngModel)]="cvv" class="form-control" id="4" placeholder="" required maxlength="4">
                </div>

            </div>
            <div class="card-footer bg-light">
                <button type="submit" class="btn btn-info" (click)='pagar()'>Pagar Servicio</button>
            </div>
        </div>




    </div>
</div>