<div class="container animated fadeIn fast">

    <!-- Call to Action Well -->
    <div class="card text-white bg-info my-5 py-4 text-center">
        <div class="card-body">
            <h1>¡Pago Exitoso!</h1>
        </div>
    </div>



    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">Detalle de tu pago</h1>
        <p class="lead">Tu pago fue realizado correctamente.</p>
        <ul class="list-group list-group-horizontal-xl">
            <li class="list-group-item">Monto: <b>${{pagolocal.amount}}</b></li>
            <li class="list-group-item">Fecha: <b> {{pagolocal.created_at}}</b> </li>
            <li class="list-group-item">Transacción <b>{{pagolocal.id}}</b></li>
            <li class="list-group-item">Nombre <b>{{pagolocal.card_holder}}</b></li>
            <li class="list-group-item">Tarjeta <b>{{pagolocal.card_number}}</b></li>
            <li class="list-group-item">Estado <b>{{pagolocal.status}}</b></li>
        </ul>
        <br/>
        <br/>

        <button click="window.print();" class="btn btn-primary btn-lg">Imprimir</button>
        <a [routerLink]="['/asociados']" class="btn btn-secondary btn-lg">Regresar</a>
    </header>



</div>